<!-- Last-section Start -->
<div class="m-auto last-section flex justify-center items-center">
  <div
    class="heading-line flex flex-col justify-center items-center gap-12 border border-black"
  >
    <h1 class="bottom-main-heading">Ready to Redefine Your Space?</h1>
    <button class="contact-btn text-center">Start Your Design Journey</button>
  </div>
</div>
<!-- Last-section Ends -->

<hr class="m-auto w-[40%] bg-black my-20 font-black border border-black" />

<!-- Footer -->

<footer>
  <!-- Logo and Social Media -->
  <div class="column logo-column">
    <div class="logo">
      <img src="/assets/MS.png" alt="Brand Logo" />
    </div>
    <div class="social-media flex flex-col">
      <div class="social-icon flex gap-2">
        <img src="/assets/instagram.png" alt="Instagram" />
        <span>Instagram</span>
      </div>
      <div class="social-icon flex gap-2">
        <img src="/assets/facebook.png" alt="facebook" />
        <span>Facebook</span>
      </div>
      <div class="social-icon flex gap-2">
        <img src="/assets/twitter.png" alt="twitter" />
        <span>X (twitter)</span>
      </div>
      <div class="social-icon flex gap-2">
        <img src="/assets/whatsapp.png" alt="whatsapp" />
        <span>Whatsaap</span>
      </div>
      <!-- Add more social media icons as needed -->
    </div>
  </div>

  <!-- Useful Links -->
  <div class="column useful-links">
    <h3 class="font-black text-xl my-8">Useful Links</h3>
    <ul class="flex flex-col text-center">
      <li><a href="#">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Testimonials/Gallery</a></li>

      <!-- Add more links as needed -->
    </ul>
  </div>

  <!-- Contact Us -->
  <div class="column contact-us">
    <h3 class="font-black text-xl my-8">Contact US</h3>
    <p>Phone: +123456789</p>
    <p>Mobile: +123456789</p>
    <p>Email: SerenixInterior@gmail.com</p>
    <!-- Add more contact information as needed -->
  </div>

  <!-- Address -->
  <div class="column address">
    <h3 class="font-black text-xl my-8">Address</h3>
    <p>123 Main Street, Cityville, Country</p>
    <!-- Add more address information as needed -->
  </div>
</footer>

<div class="text-center copyright">
  <p>&copy; <span id="currentYear"></span> SERENIX All Rights Reserved</p>
</div>
<!-- Footer ends -->
