<!-- Navbar for Big Screen starts -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light">
  <div id="nav" class="">
    <div id="nleft">
      <img src="/assets/MS.png" alt="Logo" />
      <a href="/">Home</a>
      <a href="/about">about</a>
    </div>
    <div id="nright">
      <a href="/gallery" target="_blank" rel="noopener noreferrer">Gallery</a>
      <a href="/contact" target="_blank" rel="noopener noreferrer">Contact</a>
    </div>
  </div>
</nav>

<!-- Navbar for Big Screen ends -->
